<header class="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/">BidNow</a>
    </div>
    <nav class="nav">
      <ul>
        <li><a routerLink="/create-bid">Create Bid</a></li>
        <li><a routerLink="/auctions">Auctions</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn" (click)="toggleProfileMenu()">
          <a href="javascript:void(0)">Hello, {{ userName }}</a>
        </li>
        <!-- Dropdown Menu -->
        <div *ngIf="isLoggedIn && isProfileMenuVisible" class="profile-menu">
          <ul>
            <li><a routerLink="/profile">My Profile</a></li>
            <li><a routerLink="/my-bids">My Bids</a></li>
            <li (click)="signOut()">Sign Out</li>
          </ul>
        </div>
      </ul>
    </nav>
  </div>
</header>
